<!-- 
Created on : 15-abr-2018
Author     : Ismael Martin Ramirez [imartinr01@informatica.iesvalledeljerteplasencia.es]
-->
<section ng-controller="barrio">
    
 <!--Menu de navegacion con las opciones de exports-->
    <nav class="navbar navbar-expand-md export" >
    
            <!--Boton que reemplaza la lista de opciones con las resolucones de pantalla de table o movil-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbarExport">
            <span class="navbar-toggler-icon"></span>
          </button>
        
           <!--Listado de opciones-->
      <div class="collapse navbar-collapse" id="collapsibleNavbarExport">
            <ul class="navbar-nav">
          <li class="nav-item" ng-model="xmlFormato" ng-click="verFormatoXml()">
            <span class="nav-link">{{export[0]}}</span>
          </li>

          <li class="nav-item" ng-model="jsonFormato" ng-click="verFormatoJson()">
            <span class="nav-link">{{export[1]}}</span>
          </li>

              <li class="nav-item" ng-model="csvFormato" ng-click="verFormatoCsv()">
            <span class="nav-link">{{export[2]}}</span>
          </li>
              <li class="nav-item" ng-model="htmlFormato" ng-click="verFormatoHtml()">
            <span class="nav-link">{{export[3]}}</span>
          </li>

         

            </ul>
          </div>  
    </nav>
    
    <!--Seccion que se oculta y muestra al pulsar sobre las opciones la lista anterior-->
    <!--XML-->
    <div ng-if="xmlFormato" class="contenedorExport">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h3>Barrio de Plasencia</h3></div>
            <div class="col-sm-3"><h4>XML</h4></div>
            <div class="col-sm-3">
                 <a href="#!/barrio/xml" target="_blank" class="btn btn-info btn-lg col-xs-12">
                 <span class="glyphicon glyphicon-new-window"></span> Ver en Web
                </a>
            </div>
              <div class="col-sm-3">
                 <a href="https://imartinr01.000webhostapp.com/OpenData/Plasencia/Ayuntamiento/barrio/Obtener_barrioXML.php" target="_blank" class="btn btn-info btn-lg col-xs-12">
                 <span class="glyphicon glyphicon-new-window"></span> GET
                </a>
            </div>
            
            <pre class="col-xs-12">{{dataXml}}</pre>
        </div>
    </div>
    </div>      
    <!--JSON-->
    <div ng-if="jsonFormato" class="contenedorExport">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h3>Barrio de Plasencia</h3></div>
            <div class="col-sm-3"><h4>JSON</h4></div>
            <div class="col-sm-3">
                 <a href="#!/barrio/json" target="_blank" class="btn btn-info btn-lg col-xs-12">
                 <span class="glyphicon glyphicon-new-window"></span> Ver en Web
                </a>
            </div>
              <div class="col-sm-3">
                 <a href="https://imartinr01.000webhostapp.com/OpenData/Plasencia/Ayuntamiento/barrio/Obtener_barrioJSON.php" target="_blank" class="btn btn-info btn-lg col-xs-12">
                 <span class="glyphicon glyphicon-new-window"></span> GET
                </a>
            </div>
            <pre class="col-xs-12">{{dataJson}}</pre>
        </div>
    </div>
    </div>   
    <!--CSV-->
    <div ng-if="csvFormato" class="contenedorExport">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h3>Barrio de Plasencia</h3></div>
            <div class="col-sm-4"><h4>CSV</h4></div>
            <div class="col-sm-4">
                 <a href="#!/barrio/csv" target="_blank" class="btn btn-info btn-lg col-xs-12">
                 <span class="glyphicon glyphicon-new-window"></span> Ver en Web
                </a>
            </div>
            <pre class="col-xs-12">{{dataCsv}}</pre>
        </div>
    </div>
    </div>
    <!--html-->
    <div ng-if="htmlFormato" class="contenedorExport">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h3>Barrio de Plasencia</h3></div>
            <div class="col-sm-4"><h4>HTML</h4></div>
            <div class="col-sm-4">
                 <a href="#!/barrio/html" target="_blank" class="btn btn-info btn-lg col-xs-12">
                 <span class="glyphicon glyphicon-new-window"></span> Ver en Web
                </a>
            </div>
            <pre class="col-xs-12">{{dataHtml}}</pre>
        </div>
    </div>
    </div>   

</section>
