<!-- 
Created on : 15-abr-2018
Author     : Ismael Martin Ramirez [imartinr01@informatica.iesvalledeljerteplasencia.es]
-->
<section ng-controller="barrio" class="container"> 
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <caption>Barrios de Plasencia</caption>

                <tr>
    <th>#</th>
    <th ng-repeat="titulo in titulos">{{titulo}}</th>
  
  </tr>
            
    <tr ng-repeat="respuesta in tabla">
     <th>{{$index+1}}</th>
    <td>{{respuesta.col1}}</td>
    <td>{{respuesta.col2}}</td>
    <td>{{respuesta.col3}}</td>
    <td>{{respuesta.col4}}</td>
    <td>{{respuesta.col5}}</td>
    <td>{{respuesta.col6}}</td>
    <td>{{respuesta.col7}}</td>
    <td>{{respuesta.col8}}</td>

  </tr>
  
        </table> 
    </div>
</section>